
ul {
    margin:0;
    padding: 0 0 56px 0;
    list-style: none;
}

.prevew{
    color:rgb(14, 55, 167);
    width:100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.prevewDos{
    color:rgb(0, 0, 0);
    width:100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.inicio {
    display: grid;
    place-content: center;
}

.lista{
    display: inline-block;
    margin-left:37px;
    margin-top:25px;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: auto;
}