.TodoSearch {
    background: #F9FBFC;
    border-radius: 10px;
    border: none;
    margin: 0 29px 0 0px;
    height: 40px;
    width: calc(100% - 100px);
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    display:inline-block
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #63615b;
  }
  .TodoSearch:disabled {
    opacity: 25%;
  }

  .searcher{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .lupita{
   display:inline-block;
   width: 30px;
   height: 30px;
   margin-left: -66px;
   opacity: 0.4;
 }